#include "settings_resources.h"

IDR_SETTINGS_PAGE_XAML RCDATA "settings_page.xaml"
IDR_LORA_DIALOG_XAML RCDATA "lora_dialog.xaml"
IDR_LORA_SELECTION_XAML RCDATA "lora_selection.xaml"
IDR_CUSTOM_NAME_ROW_XAML RCDATA "custom_name_row.xaml"
IDR_CUSTOM_NAME_READING_XAML RCDATA "custom_name_reading.xaml"
IDR_CUSTOM_NAME_WARNING_XAML RCDATA "custom_name_warning.xaml"
IDR_LORA_RUBY_CELL_XAML RCDATA "lora_ruby_cell.xaml"
IDR_LORA_ITEM_TOOLTIP_XAML RCDATA "lora_item_tooltip.xaml"
IDR_LORA_TRAINING_ITEM_XAML RCDATA "lora_training_item.xaml"
