#include "settings_resources.h"

IDR_SETTINGS_PAGE_XAML RCDATA "ui/settings_page.xaml"
IDR_SETTINGS_MENU_XAML RCDATA "ui/settings_menu.xaml"
IDR_SETTINGS_THEME_XAML RCDATA "ui/theme.xaml"
IDR_LORA_DIALOG_XAML RCDATA "ui/lora_dialog.xaml"
IDR_LORA_SELECTION_XAML RCDATA "ui/lora_selection.xaml"
IDR_CUSTOM_NAME_ROW_XAML RCDATA "ui/custom_name_row.xaml"
IDR_CUSTOM_NAME_READING_XAML RCDATA "ui/custom_name_reading.xaml"
IDR_CUSTOM_NAME_WARNING_XAML RCDATA "ui/custom_name_warning.xaml"
IDR_LORA_RUBY_CELL_XAML RCDATA "ui/lora_ruby_cell.xaml"
IDR_LORA_ITEM_TOOLTIP_XAML RCDATA "ui/lora_item_tooltip.xaml"
IDR_LORA_TRAINING_ITEM_XAML RCDATA "ui/lora_training_item.xaml"
